@font-face{
    font-family: "didot";
    src: url('../didot_ssv/Didot_Regular/Didot\ Regular.ttf')
    format('ttf')
}
@font-face{
    font-family: "Jost";
    src: url('../Jost/static/JostRegular.ttf')
}
@font-face{
    font-family: "Jost light italic";
    src: url('../Jost/static/Jost-LightItalic.ttf');
}
@font-face{
    font-family: "Jost light";
    src: url('../Jost/static/Jost-Light.ttf');
}
body{
    width: 97%;
    height: auto;
    cursor: url('./defaultIcon.cur'), crosshair;
    font-family: 'Jost';
}
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    width: inherit;
    height: inherit;
}
a{
    cursor: crosshair;
}

/*left side*/

.left{
    padding: .5em 2em;
    width: 15%;
    height: 100%;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.header{
    padding: 0;
    margin: 0;
}
.btn{
    background-color: transparent;
    border: none;
    cursor: url('./iconOnHover.cur'), crosshair;
}
.navBtn, .navCloseBtn{
    display: none;
}
.bars{
    height: 7em;
    width: 7em;
}
.logo{
    font-family: 'Jost';
    text-transform: capitalize;
    display: inline-block;
}
.logo a {
    text-decoration: none;
    color: #000;
}
.sideNav{
    margin: auto 0;
}
#inAbout{
    margin: 4rem 0;
    border: 1px solid #000;
}
.categories, .subcategories{
    list-style-type: none;
}
.main{
    line-height: 3em;
    font-family: 'Jost';
    font-size: 1.1em;
    text-transform: capitalize;
}
.sub{
    line-height: 1.5em;
    font-family: 'Jost light';
    position: relative;
    bottom: .4em;
    left: 1.5em;
}
#inSpaces{
    display: none;
    -webkit-display: none;
}

#inPeople{
    display: none;
    -webkit-display: none;
}
.inLi{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    position: relative;
}

.inLi:hover{
    color: #696767;
}
.inLi:active{
    color: #666464;
    text-decoration: underline;
}
#bestWork{
    text-decoration: underline;
}
.iconHolder a{
    color: #8f8f8f;
    text-decoration: none;
}
.icons{
    padding: 0 .3em;
}
.icons:hover{
    color: #585656;
}
.icons:active{
    color: #8f8f8f;
}


/*right*/

.right{
    width: 83%;
    height: auto;
    padding: 2rem 0;
    margin: 0;
    position: relative;
    left: 19%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.imageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.image{
    height: 45vw;
    padding: none;
    margin: none;
    object-fit:contain;
    width: 60vw;
    cursor: url('../fontAwesome/svgs/solid/plus.svg');
    
}
/*About page*/

#inAbout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    border: none;
}
#imgContainer{
    width: 40%;
    height: inherit;
    display:flex;
    justify-content: flex-end;
    align-items: space-between;
    padding: 1.5em 0;
    /* border: 2px solid #000; */
}
.myImage{
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    /* position: relative;
    bottom: 2vw; */
    /* border: 3px solid #000; */
}
.infoContainer{
    margin: 7em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid #000; */
}
.info{ 
    width: 80%;
    padding: 5rem 0;
    /* border: 3px solid #000; */
}
.info h3{
    font-family: 'Jost light';
    text-decoration: underline;
}
.btnHolder{
    width: inherit;
    padding: 1em 0;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.arrowBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.forIndex{
    position: relative;
    bottom: 4em;
}
.thumbnailsContainer{
    display: block;
    height: auto;
}
.thumbnailFlex{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.thumbnailsGrid{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    align-items: center;
    overflow: scroll;
}
.thumbImg{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.pauseBtn, .playBtn{
    height: 5rem;
    width: 5rem;
}
.newArrow{
    height: 4rem;
    width: 4rem;
    position: relative;
    bottom: 2em;
}
/*preventing border*/
:focus {
    outline:none;
} 
::-moz-focus-inner {
    border:0;
}
.pause, .play{
    color: #696767;
}
.play{
    display: none;
}
.artAndThumb{
    width: inherit;
    height: 20%;
    position: relative;
    left: 4vw;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.inArtAndThumb{
    width: 20%;
    margin: .3em 0;
    padding: .3em;
    font-size: .9em;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Jost light';
    text-align: right;
}
.inArtAndThumb:hover{
    opacity: .5;
}

.caption{
    max-width: 35vw;
    font-size: .9em;
    color: #4e4c4c;
    opacity: 0.6;
    
}
.imageHolder{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.crossBtn{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    /* align-content: flex-end; */
    float: right;
    /* border: 1px solid #000; */
}
.imgClose{
    width: 2em;
    height: 2em;
}
.imageText{
    text-align: center;
    width: 45vw;
}
.indent{
    display: inline-block;
    margin-left: 2.5rem;
    font-size: .9em;
    font-family: 'Jost light';
}
.minus{
    width: 2rem;
    height: 2rem;
    float: right;
    border: none;
    position: relative;
    right: 3.7rem;
    display: none;
}
.minus :hover{
    opacity: .5;
}
.fjost{
    font-family: 'Jost light';
    text-align: left;
}
.keywords{
    visibility: visible;
    font-family: 'Jost light';
    display: flex;
    justify-content: baseline;
    align-items: baseline ;
}
.footer{
    width: 80%;
    color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 3rem 0;
    margin: 3rem 0;
    text-transform: capitalize;
    font-family: 'Jost light';
    font-size: 0.9em;
    position: relative;
    left: 8rem;
    bottom: 3em;
}
.btnLinks{
    margin: 2rem 0;
    padding: 0;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-family: 'Jost light';
    font-size: 1.1em;
}
.link{
    color: rgb(134, 126, 126);
    text-decoration: none;
}
.link:hover{
    color:#4e4c4c;
}
@media only screen  and (max-width: 1300px){
    .left{
        width: 30em;
    }
    .logo{
        text-align: center;
    }
    .right{
        margin: 4em 2.5em;
    }
    .myImage{
        bottom: 12em;
    }
    .infoContainer{
        margin: 3em;
    }
    #footerStyle{
        position: relative;
        left: 6em;
        margin: 2em 0;
        padding: 2em 0;
    }
}
/* @media only screen and (max-width: 1040){
    .left{
        width: 25%;
    }
    #imgContainer{
        width: 60%;
    }
    .myImage{
        width: 100%;
        height: auto;
        bottom: 14em;
    }
}
@media only screen and (max-width: 1009){
        
    .myImage{
        width: 100%;
        bottom: 18em;
    }
}
@media only screen and (max-width: 960px){
    .container{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 100%;
    }
    .left, .right{
        padding: 0;
        margin: 0;
    }.left{
        width: inherit;
        height: auto;
        background-color: #fff;
        z-index: 100;
    }
    .header{
        width: 95%;
        height: 7rem;
        margin: 0rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .sideNav{
        display: none;
        margin: 0 2em;
    }
    .navBtn{
        display: block;
    }
    .navBtn:hover{
        opacity: 0.5;
    }
    .navBtnContainer{
        display: flex;
        align-items: center;
    }
    .logoHolder{
        margin: 0 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 20rem;
        text-align: center;
    }
    .right{
        left: 5%;
        margin: 9rem 0;
        object-fit: contain;
    }
    .imageContainer{
        width: 85%;
    }
    .image{
        width: 75vw;
        height: 52vw;
        object-fit:contain;
        cursor: url('../fontAwesome/svgs/solid/plus.svg');
   }
   .imageText{
       margin: 3em 10em;
   }
    .thumbnailsContainer{
       margin: 3rem;
       height: auto;
   }
   .thumbnailsGrid{
        width: 70vw;
        height: 47vw;
   }
   .newArrow{
    height: 4rem;
    width: 4rem;
    position: relative;
    bottom: 4em;
    }
    .artAndThumb{
        left: 15vw;
    }
    .myImage{
        width: 70%;
        top: 14vw;
    }
    #footerStyle{
        left: 9em;
    }
}

@media only screen and (max-width: 890px) {
    .container{
        height: 800px;
    }
    .right{
        width: 97%;
        left: 4%;
        padding: 0;
    }
    .arrowBtn{
        display: flex;
        justify-content: center;
        align-content: center;
        visibility: visible;
        position: relative;
    }
    .imageContainer{
        justify-content: flex-start;
        width: 95%;
        position: relative;
        right: 2.7vw;
    }
    .artAndThumb{
        position: relative;
        left: -10vw;
    }
    #footerStyle{
        left: 10vw;
    }
    #aboutContainer{
        position: relative;
        bottom: 20vw;
    }
    .myImage{
        position: relative;
        top: -18vw;
    }

}

@media only  screen and (max-width: 843px) {
    .right{
        width: 95%;
        left: 2%;
    }
}

@media only  screen and (max-width: 803px) {
    .logoHolder{
        position: relative;
        left: 19vw;
    }
    .right{
        width: 88%;
        left: 2%;
    }
    .imageContainer{
        width: 55%;
    }
    .artAndThumb{
        left: 4vw;
    }
}
@media only screen and (max-width: 800px) {
    .left{
        width: 100%;
    }
    .right{
        width: 97%;
    }
    
    .imageContainer{
        width: 97%;
        left: .1vw;
        align-items: stretch;
    }
    .artAndThumb{
        left: -5vw;
    }
    .arrowBtn{
        margin: 0;
        padding: 0;
        bottom: 2.5vw;
        align-items: flex-start;
    }
    #btnLeftContainer{
        position: relative;
        left: 5vw;
    }
    #btnRightContainer{
        position: relative;
        right: 5vw;
    }
    .image{
        width: 60vw;
        height: 45vw;
        object-fit: contain;
    }
    #imgContainer{
        width: 50%;
        display:flex;
        justify-content: flex-end;
        align-items: space-between;
    }
    .myImage{
        width: 50%;
        height: 18%;
        border-radius: 50%;
        position: relative;
        top: 8em;
    }
    .infoContainer{
        width: 50%;
    }   
}
@media only screen and (max-width: 784px){
    .right{
        width: 95%;
    }
    .imageContainer{
        position: relative;
        left: -4vw;
    }
    .thumbImg{
        width: 20vw;
        height: 15vw;
        margin: .5em .4em;
    }
    .myImage{
        height: 16%;
    }
}

@media only screen and (max-width: 733px) {
    .left{
        width: 100%;
    }
    .logoHolder{
        position: relative;
        left: 15vw;
    }
    .right{
        width: 98%;
    }
    .imageContainer{
        width: inherit;
        height: auto;
    }
    .imageAndContent{
        width: inherit;
    }
    .image{
        width: 75vw;
        height: 55vw;
        object-fit: contain;
    }
} */
