@font-face{
    font-family: "didot";
    src: url('../didot_ssv/Didot_Regular/Didot\ Regular.ttf')
    format('ttf')
}
@font-face{
    font-family: "Jost";
    src: url('../Jost/static/JostRegular.ttf')
}
@font-face{
    font-family: "Jost light italic";
    src: url('../Jost/static/Jost-LightItalic.ttf');
}
@font-face{
    font-family: "Jost light";
    src: url('../Jost/static/Jost-Light.ttf');
}
body{
    width: 97%;
    height: auto;
    cursor: url('./defaultIcon.cur'), crosshair;
    font-family: 'Jost';
}
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    width: inherit;
    height: inherit;
}
a{
    cursor: crosshair;
}

/*left side*/

.left{
    padding: .5em 2em;
    width: 15%;
    height: 90%;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.header{
    padding: 0;
    margin: 0;
}
.btn{
    background-color: transparent;
    border: none;
    cursor: url('./iconOnHover.cur'), crosshair;
}
.navBtn, .navCloseBtn{
    display: none;
}
.bars{
    height: 7em;
    width: 7em;
}
.logo{
    font-family: 'Jost';
    text-transform: capitalize;
    display: inline-block;
}
.logo a {
    text-decoration: none;
    color: #000;
}
.sideNav{
    margin-top: auto;
    /* margin-bottom: 3em; */
}
#inAbout{
    margin: 4rem 0;
}
.categories, .subcategories{
    list-style-type: none;
}
.main{
    font-family: 'Jost';
    font-size: 1.1em;
    text-transform: capitalize;
}
.sub{
    line-height: 1.5em;
    font-family: 'Jost light';
    position: relative;
    bottom: .4em;
    left: 1.5em;
}
#inSpaces{
    display: none;
    -webkit-display: none;
}
#inPeople{
    display: none;
    -webkit-display: none;
}
.inLi{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    position: relative;
}
.inLi:hover{
    color: #696767;
}
.inLi:active{
    color: #666464;
    text-decoration: underline;
}
#bestWork{
    text-decoration: underline;
}
.iconHolder a{
    color: #8f8f8f;
    text-decoration: none;
}
.icons{
    padding: 0 .3em;
}
.icons:hover{
    color: #585656;
}
.icons:active{
    color: #8f8f8f;
}
/*right*/

.right{
    width: 83%;
    height: auto;
    padding-top: 10px;
    margin: 0;
    position: relative;
    left: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* .imageAndContent{
    border: 4px solid #000;
} */
.image{
    height: 45vw;
    padding: none;
    margin: none;
    object-fit:contain;
    width: 60vw;
    cursor: url('../fontAwesome/svgs/solid/plus.svg');
    /* border: 5px solid #000; */
    
}
/*About page*/

#inAbout{
    width: 100%;
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 50%;
    justify-content: baseline;
    border: none;
}
#imgContainer{
    height: inherit;
    display: grid;
    padding: 1.5em 0;
}
.myImage{
    justify-self: center;
    align-self: flex-start;
    width: 50%;
    height: auto;
    object-fit: contain;
}
.infoContainer{
    width: inherit;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.info{ 
    width: 80%;
    padding: 1.5rem 0;
    align-self:flex-start;
}
.info h3{
    font-family: 'Jost light';
    text-decoration: underline;
}
.btnHolder{
    width: auto;
    /* padding: 1em 0; */
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.thumbnailsContainer{
    display: block;
    height: auto;
}
.thumbnailFlex{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.thumbnailsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    align-items: center;
    overflow: scroll;
}
.thumbImg{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.pauseBtn, .playBtn{
    height: 1rem;
    width: 1rem;
}
.arrowBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    height: 1.5rem;
    width: 1.5rem;
    /* margin-top: 5em; */
    /* border: 4px solid #000; */
}
.newArrow{
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    bottom: 2em;
    /* border: 2px solid #000; */

}
/*preventing border*/
:focus {
    outline:none;
} 
::-moz-focus-inner {
    border:0;
}
.pause, .play{
    color: #696767;
}
.play{
    display: none;
}

.caption{
    max-width: 35vw;
    font-size: .9em;
    color: #4e4c4c;
    opacity: 0.6;
    
}
.imageHolder{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crossBtn{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    float: right;
}
.imgClose{
    width: 1em;
    height: 1em;
}
.imageText{
    text-align: center;
    width: 45vw;
    display: block;
}
.indent{
    display: inline-block;
    margin-left: 2.5rem;
    font-size: .9em;
    font-family: 'Jost light';
}
.minus{
    width: 2rem;
    height: 2rem;
    float: right;
    border: none;
    position: relative;
    right: 3.7rem;
    display: none;
}
.minus :hover{
    opacity: .5;
}
.fjost{
    font-family: 'Jost light';
    text-align: left;
}
.footer{
    width: 80%;
    height: auto;
    color: #8f8f8f;
    display: flex;
    align-items:center;
    flex-direction: column;
    text-transform: capitalize;
    font-family: 'Jost light';
    font-size: 0.9em;
}
.inArtAndThumb{
    width: 20%;
    font-weight: 400;
    font-size: 1em;
    text-transform: capitalize;
    font-family: 'Jost light';
    text-align: left;
}
/* .inArtAndThumb:hover{
    opacity: .5;
} */
#btnLinksInIndex{
    align-items: center;
}

.btnLinks{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
    font-family: 'Jost light';
    font-size: 1.1em;
}
.link{
    color: rgb(134, 126, 126);
    text-decoration: none;
}
.link:hover{
    color:#4e4c4c;
}
@media only screen and (max-width : 1200px) {
    .left{
        width: 12em;
    }
    .logo{
        text-align: center;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    :root{
        --heightOfBody: 100%;
    }
    body{
        height: var(--heightOfBody);
        width: 98%;
        font-size: 1.2rem;
        overflow: scroll;
        /* border: 1px solid #000; */
    }
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: auto;
        /* border: 2px solid #000; */
    }
    .left, .right{
        padding: 0;
        margin: 0;
    }
    /* left */
    .left{
        width: inherit;
        height: auto;
        background-color: #fff;
        z-index: 100;
        position: fixed;
    }
    .header{
        width: 80%;
        height: 5rem;
        margin: 0rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .sideNav{
        display: none;
        margin: 0 2em;
    }
    .navBtn{
        display: block;
    }
    .navBtnContainer{
        display: flex;
        align-items: center;
    }
    .logoHolder{
        margin: 0 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 20rem;
        text-align: center;
    }
    /* right */
    .right{
        left: 2%;
        width: inherit;
        height: auto;
        margin-top: 5rem;
        /* border: 3px solid #000; */
    }
    .imageContainer{
        width: auto;
        max-height: 50%;
        margin: auto 0;
        padding: auto 0;
        /* border: 4px solid #000; */
    }
    .imageAndContent{
        height: 50%;
        display: flex;
        align-items: center;
        /* border: 5px solid #000; */
    }
    .thumbnailsContainer{
        max-height: 70%;
    }
    .imageHolder{
        /* border: 6px solid #000; */
        height: 50%;
    }
    .image{
        width: 100%;
        height: 90%;
        object-fit:contain;
        cursor: url('../fontAwesome/svgs/solid/plus.svg');
        /* border: 7px solid #000; */
   }
   .crossBtn{
       width: 1.5em;
       height: 1.5em;
   }
   .imgClose{
       width: 1.5em;
       height: 1.5em;
   }
   .imageText{
       margin: 3em 10em;
       display: block;
   }
   .arrowBtn{
       visibility: visible;
   }
   .newArrow{
        height: 2rem;
        width: 2rem;
        position: relative;
        bottom: 4em;
    }
    .forIndex{
        position: relative;
        bottom: -2em;
    }
    .pauseBtn,.playBtn{
        width: 1.5em;
        height: 1.5em;
    }
    /* about */
    #aboutContainer{
        margin: 5rem 0;
        padding: 0;
    }
    #inAbout{
        grid-template-rows: 30%;
        height: auto;
        justify-content: baseline;
        align-items: baseline;
    }
    .infoContainer{
        grid-template-rows: 70%;
    }
    .icons:hover{
        color: #8f8f8f;
    }
    .minus :hover{
        opacity: 1;
    }
    .inArtAndThumb{
        width: 30%;
    }
    .link :hover{
        color: rgb(134, 126, 126);
    }
    .footer{
        min-height: 10%;
    }
    
}
@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    :root{
        --heightOfBody: 100%;
    }
    body{
        font-size: .8em;
        height: var(--heightOfBody);
        width: 98%;
        margin: auto 0;
        /* border: 1px solid #000; */
        /* height: 800px; */
    }
    .container{
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid #000; */
    }
    /* left */
    .left{
        width: inherit;
        height: auto;
        background-color: #fff;
        z-index: 100;
        position: fixed;
        /* border: 1px solid #000; */
    }
    .header{
        width: 100%;
        height: 2rem;
        margin:0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: relative;
        right: 6%;
        /* border: 2px solid #000; */
    }
    .sideNav{
        display: none;
    }
    .navBtn{
        display: block;
        /* border: 4px solid #000; */
    }
    .navBtnContainer{
        display: flex;
        align-items: center;
        /* border: 3px solid #000; */
    }
    .bars{
        /* border: 5px solid #000; */
        width: 4em;
        height: 4em;
    }
    .logoHolder{
        /* border: 3px solid #000; */
        margin-right: 15px;
    }
    .logo{
        /* border: 2px solid #000; */
        text-align: center;
        font-size: 1.5em;
    }
    /* right */
    .right{
        width: inherit;
        height: inherit;
        margin-top: 2.5rem;
        margin-right: 0;
        left: 0%;
        /* border: 2px solid #000; */
        /* display: grid;
        grid-template-rows: 2fr .1fr;
        grid-row-gap: 0; */
    }
    .imageContainer{
        height: inherit;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        /* border: 3px solid #000; */
    }
    .imageAndContent{
        height: inherit;
        /* border: 4px solid #000; */
        margin: 0;
    }
    .imageHolder{
        height: inherit;
        /* position: fixed; */
    }
    .crossBtn{
        height: 1.2em;
        width: 1.2em;
    }
    .image{
        width: 100%;
        height: var(--heightOfBody);
        /* border: 5px solid #000; */
    }
    .caption{
        max-width: 50vw;
        font-size: 0.8em;
    }
    .thumbnailsGrid{
        grid-template-columns: 1fr 1fr;
    }
    .arrowBtn{
        height: inherit;
        /* border: 4px solid #000; */
        visibility: visible;
    }
    .newArrow{
        height: 1.5em;
        width: 1.3em;
        bottom: 0;

    }
    .forIndex{
        bottom: -4em;
    }
    .footer{
        /* border: 2px solid #000; */
        font-size: .8em;
        width: 100%;
        /* position: relative;
        bottom: 7vw; */
    }
    .pauseBtn, .playBtn{
        width: 2em;
        height: 2em;
    }
    .inArtAndThumb{
        width: 40%;
        text-align: center;
    }
    /* about */
    #inAbout{
        font-size: .8;
    }
