@font-face{
    font-family: "didot";
    src: url('../didot_ssv/Didot_Regular/Didot\ Regular.ttf')
    format('ttf')
}
@font-face{
    font-family: "Jost";
    src: url('../Jost/static/JostRegular.ttf')
}
@font-face{
    font-family: "Jost bold";
    src: url('../Jost/static/JostBold.ttf');
}
body{
    width: 97%;
    height: auto;
    cursor: url(defaultIcon.cur), crosshair;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    width: inherit;
    height: inherit;
}

/*left side*/

.left{
    padding: .5em 2em;
    width: 15%;
    height: 100%;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    /* border: 1px solid #000; */
    /* background-color: #fff; */
}
.btn{
    background-color: transparent;
    border: none;
}
.navBtn{
    display: none;
}
.logo{
    font-family: 'Jost';
    text-transform: capitalize;
    display: inline-block;
    /* color: rgb(66, 66, 66); */
}
.openEye{
    height: 3vw;
    width: 3vw;
}
.sideNav{
    margin: auto 0;
}
.categories, .subcategories{
    list-style-type: none;
    opacity: 0;
    animation: slideIn 500ms linear 800ms 1 forwards;
}
@keyframes slideIn{
    0%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.subcategories{
    list-style-type: none;
    
    
    animation: slideIn 500ms linear 800ms 1 forwards;
}

.main{
    line-height: 3em;
    font-family: 'Jost bold';
    font-size: 1.1em;
}

.sub{
    line-height: 1.5em;
    font-family: 'Jost';
    position: relative;
    bottom: .4em;
    left: 1.5em;
}
.inLi{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    position: relative;
}

.inLi:hover{
    color: #696767;
}
.inLi:active{
    color: #666464;
    text-decoration: underline;
}
#bestWork{
    text-decoration: underline;
}
.iconHolder a{
    color: #8f8f8f;
    text-decoration: none;
}
.icons{
    padding: 0 .3em;
}
.icons:hover{
    color: #585656;
}
.icons:active{
    color: #8f8f8f;
}
.admin{
    color: #cecbcb;
    margin-top: 1em;
}
.admin:hover{
    color: #c3c0c0;
}
.admin:active{
    color: #adaaaa;
}

/*right*/

.right{
    width: 83%;
    padding: 2rem 0;
    position: relative;
    left: 19%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imageContainer{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 1em;  
}

.imageContainer:hover .arrowBtn{
    visibility: visible;
    opacity: 0;
    animation: btnVisibility 500ms linear 1 forwards;
    /* transition: opacity 1s ease-in-out; */
}
@keyframes btnVisibility{
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.imageHolder{
    display:flex;
    flex-direction: column;
}
.crossBtn{
    /* transform: rotate(0.5 turn); */
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    /* display: none; */
}
.image{
     width: 60vw;
     height: 45vw;
    object-fit:contain;
    cursor: url('../fontAwesome/svgs/solid/plus.svg');
}
.btnHolder{
    width: inherit;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 1em 0;
    position: relative;
    opacity:0;
    animation: slideRight 250ms ease-in-out 600ms forwards;
}
@keyframes slideRight{
    0%{
        
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.btnHolder a{
    color: #696767;
    text-decoration: none;
}
.links{
    padding: 0 auto;
}
.link :hover{
    color: #8f8f8f;
}
#as{
    font-size: .8em;
    text-transform: capitalize;
    padding: 0 1.5em;
    border: 1px solid #000;
}
.arrowBtn{
    width: 3em;
    height: 3em;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#btnLeft, #btnRight{
    font-size: 1.2em;
    color: #fff;
    text-shadow: .1em .1em #585656;
}
/*preventing border*/
:focus {
    outline:none;
} 
::-moz-focus-inner {
    border:0;
}
.pause, .play{
    color: #696767;
}
.pause:hover, .play:hover{
    opacity: .5;
}
/* .pause{
    display: none;
} */
.imageText{
    text-align: center;
    width: inherit;
    padding: 1em 1em;
    display: none;
    position: relative;
    left: 4.5rem;
}
.minus{
    float: right;
    border: none;
    /* background-color: #fff; */
    color: #585656;
    /* padding: auto; */
    position: relative;
    right: 3.5rem;
}
.minus :hover{
    opacity: .5;
}
.fdidot{
    font-family: 'didot';
}
.fjost{
    font-family: 'Jost';
}
.footer{
    width: 80%;
    color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 3rem 0;
    text-transform: capitalize;
    font-family: 'Jost';
    font-size: 0.9em;
    position: relative;
    left: 17rem;
    opacity: 0;
    animation: slideUp 500ms linear 100ms 1 forwards;
}
@keyframes slideUp{
    0%{
        transform: translateY(100%);
        opacity: 0.3;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@media only screen  and (max-width: 700){

}
